<Avatar :size="60" text="U" />
<Avatar :size="60" text="A" />
<Avatar :size="60" icon="person" />
<Avatar :size="60" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />


    <br/>
<Avatar large text="U" />
<Avatar large text="A" />
<Avatar large icon="person" />
<Avatar large src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />

<br/>

<Avatar text="U" />
<Avatar text="A" />
<Avatar icon="person" />
<Avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />

<br/>
<Avatar small text="U" />
<Avatar small text="A" />
<Avatar small icon="person" />
<Avatar small src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />

<br/>
<Avatar square small text="U" />
<Avatar square text="A" />
<Avatar square large icon="person" />
<Avatar square :size="60" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX" />