@prefix:lm-;
@avatar-color:#ccc;
@primary:#1976D2;
@secondary:#424242;
@accent:#82B1FF;
@error:#FF5252;
@info:#2196F3;
@success:#4CAF50;
@warning:#FFC107;


@keyframes rotate{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
    font-family: -apple-system, Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}